body {
    background: rgb(41, 35, 35);
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

article + article{
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid gray;
}

button {
    background-color: black; /* Set the default background color */
    color: red; /* Set the text color */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove the button border for a cleaner look */
}
  
button:active {
background-color: red; /* Change the background color when the button is clicked */
}

button:hover {
    background-color: red;
    font-family: sans-serif;
}

